/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/button.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  color: black;
}

a {
  text-decoration: none;
}

/* Custom design below! */
h1 {
  color: white;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #3f3c3c;

}

.footer a {
  color: #e7eeeb;
  font-size: 180%;
  padding: 20px;
  position: relative;
  transition: .5s;
  border-radius: 50%;
}

.footer a::before {
  position: absolute;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footer a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.footer a:hover {
  color:#ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
